@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --color-primary: #174d2f;
    --color-secondary: #5ABB7B;
    --color-background: #89CDA5;
    --color-header-h1: white;
    --color-menu-hover: #89CDA5;
    --color-menu-active: #174d2f;
    --color-text: #1A5A37;
    --color-link: rgb(0, 100, 0);
    --color-link-hover: #ffffff;
    --color-link-background: rgb(0, 100, 0);
    --color-link-hover-background: #108d00;
    --font-header:"Bebas Neue", Arial, sans-serif;
    --font-header-text: Arial, Verdana, Helvetica, sans-serif;
    --font-menu-item: Arial, Verdana, Helvetica, sans-serif;
    --font-article-title: 'idroid', cursive;
    --font-article-text: Arial, Verdana, Helvetica, sans-serif;
}

@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('truetype');
}

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--color-background);
}

strong {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.438);
}

header {
    background-image: linear-gradient(0deg, var(--color-primary), var(--color-secondary));
    min-width: 268px;
    min-height: 110px;
    padding: 15px;
}

header>h1 {
    color: var(--color-header-h1);
    font-family: var(--font-header);
    text-align: center;
    font-size: 2rem;
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.651);
    padding-bottom: .41em;
}

.header-text {
    color: white;
    font-family: var(--font-header-text);
    text-align: center;
    font-weight: 200;
    font-size: 1rem;
    padding: .06em;
}

.header-menu {
    background-color: var(--color-primary);
    display: flex;
    position: relative;
    min-height: 35px;
    max-height: 50px;
    min-width: 300px;
}

.header-menu-item {
    color: aliceblue;
    font-family: var(--font-menu-item);
    font-size: 1rem;
    font-weight: 700;
    height: 25px;
    padding: 5px 1% 0px 1%;
}

.header-menu-item:hover {
    background-color: var(--color-menu-hover);
    box-shadow: 1px 1px 5px white;
    border-radius: 6px;
    transition: 0.4s;
}

.header-menu-item:active {
    background-color: var(--color-menu-active);
    box-shadow: 1px 1px 5px white;
    border-radius: 6px;
    position: relative;
    top: 1px;
}

main {
    background-color: #ffffff;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 2px 2px 2px black;
    min-width: 300px;
    max-width: 900px;
    margin: auto auto 10px auto;
}

article {
    padding: 20px 20px 5px 20px;
}

.article-title {
    color: var(--color-text);
    font-family: var(--font-article-title);
    text-align: center;
    font-size: 2rem;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.493);
    padding: 16px;
    margin: 0px;
}

.article-text {
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 1rem;
    text-indent: 1em;
    line-height: 2em;
    padding: 15px 10px;
    margin: 10px;
}

.links {
    color: var(--color-link);
    font-weight: 600;
}

.links:hover {
    background-color: var(--color-link-hover-background);
    color: var(--color-link-hover);
    border-radius: 3px;
}

.links::before {
    content: "🔗";
}

img {
    width: 100%;
}

h2 {
    background-image: linear-gradient(90deg, #89CDA5, #ffffff00);
    color: var(--color-text);
    font-family: idroid, cursive;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.534);
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.5em;
    border-radius: 10px 0px 0px 10px;
    max-width: 900px;
    height: 35px;
    margin: auto auto 10px auto;
    padding-left: 10px;
}

.imagem-androidH {
    display: block;
    max-width: 350px;
    margin: auto;
}

/* iframe antes de ler o capitulo-17 do CursoEmVídeo:
.video-android {
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    max-width: 900px;
    min-width: 280px;
    padding: 20px 0px 20px 0px;
    margin: auto auto 20px auto;
}*/

/*Depois:*/
.video-android {
    position: relative;
    background-color: var(--color-primary);
    height: 0px;
    margin: auto -20px 15px -20px;
    padding-bottom: 59%
}

.video-android>iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
/*  Fim  */

aside {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #C5EBD6;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.267);
    border-radius: 0px 0px 5px 5px;
    max-width: 990px;
    min-width: 280px;
    margin: auto;
}

aside>h3 {
    background-color: #2FA866;
    font-family: 'Courier New', Courier, monospace, Helvetica, sans-serif;
    color: white;
    text-indent: 10px;
    line-height: 1.9em;
    border-radius: 5px 5px 0px 0px;
    max-width: 900px;
    min-width: 280px;
    height: 35px;
    margin-top: 10px;
}

 /* Listas antes de ler o capitulo-17 do CursoEmVídeo:

#listas {
    display: flex;
    justify-content: space-around;
}

#lista1,
#lista2 {
    list-style-type: none;
    padding-left: 20px;
}

.lista>li::before {
    content: "✅ ";
}*/

   /*Depois: */
ul {
    padding-left: 25px;
    list-style-type: '\2714\0020\0020';
    columns: 2;
    list-style-position: inside;
}
    /*Fim*/

footer {
    background-color: #1A5A37;
    min-width: 300px;
    min-height: 35px;
    max-height: 50px;
}

.footer-text {
    color: #ffffff;
    font-size: 1rem;
    text-align: center;
    padding-top: 5px;
}

.footer-links {
    color: rgb(255, 255, 255);
    font-weight: 600;
    padding-right: 5px;
}


.footer-links:hover {
    background-color: rgb(250, 250, 250);
    color: #108d00;
    border-radius: 3px;
}

.footer-links::before {
    content: "🔗";
}

.footer-links:active {
    position: relative;
    top: 2px;
}