@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --color-primary: #174d2f;
    --color-secondary: #5ABB7B;
    --color-background: #89CDA5;
    --color-text: #1A5A37;
    --color-link: rgb(0, 100, 0);
    --color-link-hover: #ffffff;
    --color-link-background: rgb(0, 100, 0);
    --color-link-hover-background: #108d00;
}

@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('truetype');
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    background-color: var(--color-background);
}

main {
    border-radius: 0px 0px 10px 10px;
    margin: auto;
    min-width: 300px;
    max-width: 900px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px black;
    background-color: #ffffff;
}

strong {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.438);
}

.cabecalho {
    padding: 15px;
    min-width: 268px;
    height: 110px;
    background-image: linear-gradient(0deg, var(--color-primary), var(--color-secondary));
}

.cabecalho>h1 {
    text-align: center;
    color: white;
    font-size: 2rem;
    font-family: 'Bebas Neue';
    text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.651);
    padding: 0.1%;
    padding-bottom: 1rem;
    margin: 0px;
}

.paragrafo-menu {
    text-align: center;
    color: white;
    font-weight: 200;
    font-size: 1rem;
    padding-top: 20px;
    padding: 0.1%;
    font-family: Arial, Helvetica, sans-serif;
}

.cabecalho-menu {
    display: flex;
    height: 35px;
    min-width: 300px;
    background-color: var(--color-primary);
}

.cabecalho-menu-item:hover {
    transition: 0.4s;
    background-color: #76b691;
    box-shadow: 1px 1px 5px white;
    border-radius: 6px;
}

.cabecalho-menu-item:active {
    position: relative;
    top: 1px;
    background-color: #01d45d4d;
    border-radius: 6px;
    box-shadow: 1px 1px 5px white;
}

.cabecalho-menu-item {
    font-weight: 700;
    font-size: 1rem;
    font-family: Arial, verdana, Helvetica, sans-serif;
    padding-left: 10px;
    padding-right: 1%;
    color: aliceblue;
    padding-top: 5px;
    height: 25px;
}

.titulo-artigo-1 {
    color: var(--color-text);
    font-family: "idroid", cursive;
    text-align: center;
    font-size: 2rem;
    margin: 0;
    padding: 20px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.493);
}

.paragrafo-artigo {
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 1rem;
    text-indent: 2em;
    line-height: 2em;
    padding: 0px 0px 0px 20px;
}

h2 {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.534);
    font-weight: 700;
    font-size: 1.4rem;
    color: var(--color-text);
    background-image: linear-gradient(90deg, #89CDA5, #ffffff00);
    font-family: idroid, cursive;
    border-radius: 10px 0px 0px 10px;
    line-height: 1.5em;
    max-width: 900px;
    height: 35px;
    margin: auto;
    padding-left: 10px;
    margin-bottom: 10px;
}

.links {
    color: var(--color-link);
    font-weight: 600;
}

.links:hover {
    color: var(--color-link-hover);
    background-color: var(--color-link-hover-background);
    border-radius: 3px;
    padding: 2px;
}

.links::before {
    content: "🔗";
}

#listas {
    display: flex;
    justify-content: space-around;
}

#lista1,
#lista2 {
    list-style-type: none;
    padding-left: 20px;
}

.lista>li::before {
    content: "✅";
    display: inline-block;
    margin-right: 5px;
}

.artirgo-2>h1 {
    font-family: 'Courier New', Courier, monospace, Helvetica, sans-serif;
    border-radius: 5px 5px 0px 0px;
    text-indent: 10px;
    line-height: 1.9em;
    max-width: 900px;
    min-width: 280px;
    color: white;
    background-color: #2FA866;
    height: 35px;
}

.artirgo-2 {
    padding: 0;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #C5EBD6;
    margin: auto;
    max-width: 990px;
    min-width: 280px;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.267);
}

.paragrafo-artigo {
    padding-top: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
    text-indent: 1em;
    margin: 10px;
}

article {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.imagem-androidH {
    display: block;
    max-width: 250px;
    margin: auto;
}

img {
    width: 100%;
}

.video-android {
    margin: auto;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 900px;
    min-width: 280px;
    margin-bottom: 20px;
    justify-content: center;
    background-color: var(--color-primary);
}

.rodape {
    background-color: #1A5A37;
    min-width: 300px;
    height: 30px;
}

.rodape-texto {
    font-size: 1rem;
    padding-top: 5px;
    color: #ffffff;
    text-align: center;
}

.links-rodape {
    color: rgb(255, 255, 255);
    font-weight: 600;
    padding-right: 5px;
}


.links-rodape:hover {
    color: #108d00;
    background-color: rgb(250, 250, 250);
    border-radius: 3px;
}

.links-rodape::before {
    content: "🔗";
}

.links-rodape:active {
    position: relative;
    top: 2px;
}